body{
  margin: 0,auto;
  background-color: lightskyblue;
  
/* background-image: url("img/bg.jpeg") */
}

#app{
    width: 55% ;
    margin: 0,auto;
}


.app-container{

    display:grid;
    grid-template-rows: repeat(1, 300px 500px)
} 

#frame-input{
    width: 100%;
}

.frame-container{
    display: grid;
    grid-template-columns: repeat(1, 60px 180px 80px 700px);
    /* grid-column-start: instr-text;
    grid-column-end:  api-input-container; */
    /* width: 100% ; */
    /* margin:0,auto; */
}

.overlay {
    
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.hide-overlay {
    display:none;
}

.database-container-hide {
    display:none;
}
.database-container {
    display:block;
}

.result {
    background-color: whitesmoke;
}
.user-overlay {
        
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

}

.user-container {
    position: fixed;
    display:block;
    top: 400px;
    left: 400px;
    z-index: 2;
   
}